body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);
}

div {
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 200px;
}